article.etudiannts#etudiants
    .mainWrapper
        h2 Nos étudiant·e·s gagnent des prix
        p Pour l’édition 2019 du 
            a(href="https://www.lemeilleurduweb.ch/le-meilleur-du-web-des-ecoles-2019-2/") 
                strong Meilleur du Web des Écoles
            | , deux équipes formées d’étudiant·e·s en ingénierie des médias ont participé avec succèes.
            | L’équipe FIVE a remporté le CUBE, et l’équipe Bold a été shortlistée (seconde place).
        a#five(href="https://youtu.be/OR4wPvxVBcw") Proposition de l’équipe FIVE 
            strong en vidéo
        a#bold(href="https://youtu.be/OR4wPvxVBcw") Proposition de l’équipe Bold 
            strong en vidéo
    .encart
        h3 La formation en images
        .studentsgallery
            a(href="#")
                img(sizes="(max-width: 799px) 100vw, 799px"
                src="assets/images/students/code/code_w_799.jpg"
                srcset="assets/images/students/code/code_w_200.jpg 200w, assets/images/students/code/code_w_460.jpg 460w, assets/images/students/code/code_w_650.jpg 650w, assets/images/students/code/code_w_799.jpg 799w"
                alt="Students coding")
            a(href="#")
                img(sizes="(max-width: 799px) 100vw, 799px"
                src="assets/images/students/creation/creation_w_799.jpg"
                srcset="assets/images/students/creation/creation_w_200.jpg 200w, assets/images/students/creation/creation_w_460.jpg 460w, assets/images/students/creation/creation_w_657.jpg 657w, assets/images/students/creation/creation_w_799.jpg 799w"
                alt="Student creating game")
            a(href="#")
                img(sizes="(max-width: 799px) 100vw, 799px"
                src="assets/images/students/gestion/gestion_w_799.jpg"
                srcset="assets/images/students/gestion/gestion_w_200.jpg 200w, assets/images/students/gestion/gestion_w_460.jpg 460w, assets/images/students/gestion/gestion_w_650.jpg 650w, assets/images/students/gestion/gestion_w_799.jpg 799w"
                alt="Students managing project with scrum")
            a(href="#")
                img(sizes="(max-width: 799px) 100vw, 799px"
                src="assets/images/students/group/group_w_799.jpg"
                srcset="assets/images/students/group/group_w_200.jpg 200w, assets/images/students/group/group_w_455.jpg 455w, assets/images/students/group/group_w_651.jpg 651w, assets/images/students/group/group_w_799.jpg 799w"
                alt="Students together for group project")
            a(href="#")
                img(sizes="(max-width: 799px) 100vw, 799px"
                src="assets/images/students/presentation/presentation_w_799.jpg"
                srcset="assets/images/students/presentation/presentation_w_200.jpg 200w, assets/images/students/presentation/presentation_w_487.jpg 487w, assets/images/students/presentation/presentation_w_697.jpg 697w, assets/images/students/presentation/presentation_w_799.jpg 799w"
                alt="Students practicing presentation")