- const questions = JSON.parse(readFileSync("./src/includes/screens/faq.json", "utf-8"));

- let listQuestionName = []
- for(let i = 0; i < questions.length; i++)
    - listQuestionName.push(`openQ${i}:false`)
- let listQuestionNameJoined = listQuestionName.join(",")

article.faq.no-padding(x-data=`{ ${listQuestionNameJoined},openNewQuestion:false }`)
    h2 FAQ
    .questions
        each question, i in questions
            button.question(@click=`openQ${i} = true`) !{question.title_short}
        button.newquestion(@click="openNewQuestion = true") Pose-nous
            span  ta question
    each question, i in questions
        .modal(x-show=`openQ${i}`)
            button(@click=`openQ${i} = false`)
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 !{question.title_long}
                | !{question.content}
    .modal.modal__newquestion(x-show="openNewQuestion")
        button(@click="openNewQuestion = false")
            img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
            |  Retour
        .main
            h3 Pose-nous
                span  ta question
            form#newquestion(action='https://formspree.io/xyydgeyo' method='POST')
                label Email:
                input(type='email' name='email')
                label Ta question:
                input(type='text' name='message')
                button#newquestion-button Go&nbsp;!
                p#newquestion-status
